@import 'scss-reset/reset';

$m_black:#212529;
$m_blue:#339af0;
$m_blue4:#4dabf7;
$m_blue6:#228be6;
$m_blue7:#1c7ed6;
$m_indigo6:#4c6ef5;
$m_indigo8:#3b5bdb;
$m_grape7:#7048e8;
$m_red6:#fa5252;
$m_orange:#f59f00;
$m_ltblue:#d0ebff;
$m_gray0:#f8f9fa;
$m_gray:#ced4da;

a {
    text-decoration: none;
}
// font-size
.ft2 {
    font-size:2rem;
    color:$m_black;
}

.ft1_5 {
    font-size:1.5rem;
    color:$m_black;
}

// space
.mb30 {
    margin-bottom:3rem;
}

/* main lauout */
.wrap {
    width:100vw;
    height:100vh;
    background-color:$m_red6;
    margin:0 auto;
    overflow:hidden;
}

.section {
    width:100vw;
    height:100vh;
    padding-left:20rem;
    background-color:#efefef;
    box-sizing:border-box;
}

.article {
    width:100%;
    height:100vh;
    padding:3rem;

    h2 {
        padding:0 0 1rem ;
        border-bottom:1px solid #000;
        margin:0 0 2rem;
    }
}

// menu
.mlink {
    color:$m_gray0;
    background-color:$m_indigo8;
}

// button
.btnDefault {
    min-width:10rem;
    height:3rem;
    font-size:1.25rem;
    color:$m_gray0;
    background-color:$m_indigo8;

    &:active {
        background-color:$m_blue7;
    }
}