@import 'scss-reset/reset';

$m_black:#111;
$m_blue:blue;
$m_red:red;
$m_orange:orange;
$m_ltblue:lightblue;

a {
    text-decoration: none;
}

.ft2 {
    font-size:2rem;
    color:$m_black;
}

/* main lauout */
.wrap {
    width:100vw;
    height:100vh;
    background-color:$m_red;
    margin:0 auto;
    overflow:hidden;
}

.section {
    width:100vw;
    height:100vh;
    padding-left:20rem;
    background-color:#d8d8d8;
}

.article {
    width:100vw;
    height:100vh;
    background-color:blue;
}