@import 'scss-reset/reset';

$m_black:#212529;
$m_blue:#339af0;
$m_blue4:#4dabf7;
$m_blue6:#228be6;
$m_blue7:#1c7ed6;
$m_indigo6:#4c6ef5;
$m_indigo8:#3b5bdb;
$m_grape7:#7048e8;
$m_red6:#fa5252;
$m_orange:#f59f00;
$m_ltblue:#d0ebff;
$m_gray0:#f8f9fa;
$m_gray:#ced4da;
// body
$m_body_bg:#edf2f9;
// aside
$m_aside_bg:#202B46;
$m_aside_color:#8d98af;
$m_aside_white:#ffffff;
// btn
$m_btn_white:#ffffff;
$m_btn:#1B84FF;
$m_btn_hover:#056EE9;
// boxshadow
$m_shadow:0px 3px 4px 0px rgba(0, 0, 0, 0.03);

// 공통 변수명 : 적용
$nameTest: (mainFt);

// 스타일 반복 가능 #1
// common color
$commonColor: (
    subttl1: #e03131,
    subttl2: #ff922b,
    subttl3: #ffd43b,
    subttl4: #69db7c,
    subttl5: #74c0fc
);
$commonFs: (
    subttl1: 1rem,
    subttl2: 1.2rem,
    subttl3: 1.53rem,
    subttl4: 2rem,
    subttl5: 2.5rem
);


// 스타일 반복 가능 #2
@each $name, $color in $commonColor {
    &.#{""+$name} {
        background-color: #{$color};
        color: white;
        border: none;
    }
    &.line-#{""+$name} {
        border: 1px solid #{$color};
    }
    &.color-#{""+$name} {
        color: #{$color};
    }
}
@each $fsName, $size in $commonFs {
    &.#{""+$fsName} {
        font-size: #{$size};
        font-weight: bold;
    }
}

// 스타일 재사용 #1
@mixin buttonStyle($w, $h, $color, $fontsize ,$bgColor, $borderstyle) {
    $maxWidth: calc(100% - $w);
    width: $w;
    height: $h;
    max-width:$maxWidth;
    color:$color;
    font-size:$fontsize;
    background:$bgColor;
    border: $borderstyle;
    border-radius: .25rem;
    transition:color .15s ease, background-color .15s ease-in;
    
    &:hover {
        background-color:$m_btn_hover;
    }
}
// 스타일 재사용 #2
.btn {
    @include buttonStyle(5rem, 2rem, $m_btn_white, 1rem, $m_btn, 1px solid #ddd);

    &.small {
        color:#252F4A;
        background-color:#F9F9F9;

        &:hover{
            color:#1B84FF;
            background-color:#E9F3FF;
            border-color:#E9F3FF;
        }
    }
}

// font-family
$m_font:system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

body {
    font-family:$m_font;
    background-color:$m_body_bg;
}

a {
    text-decoration: none;
}
// font-size
.ft2 {
    font-size:2rem;
    font-weight:bold;
    color:$m_black;
}

.ft1_5 {
    font-size:1.25rem;
    color:$m_black;
}

// space
.mb30 {
    margin-bottom:3rem;
}

/* main lauout */
.wrap {
    width:100vw;
    height:100vh;
    background-color:transparent;
    margin:0 auto;

    .mainInner {
        display:flex;
        align-items:flex-start;
        justify-content:flex-start;
        position:relative;
    }
}


.section {
    flex: 0 0 calc(100% - 20rem);
    background-color:inherit;
    box-sizing:border-box;
}

.article {
    width:100%;
    height:100vh;
    padding:3rem;

    h2 {
        padding:0 0 1rem ;
        border-bottom:1px solid #000;
        margin:0 0 2rem;
    }
}

.itemGroup {
    background-color:#fff;
    border-radius:1rem;
    border:1px solid #fff;
    padding:1rem;
    box-shadow:$m_shadow;
}

// menu
aside {
    background-color:$m_aside_bg;

    a {
        color:#8d98af
    }

    .iconlogo {
        color:$m_aside_white;
    }
}

.mlink {
    
    background-color:$m_aside_bg;
    transition:color .2s ease;

    &:hover {
        color:$m_aside_white;
    }
}

// button
.btnDefault {
    min-width:10rem;
    height:3rem;
    font-size:1.25rem;
    color:$m_gray0;
    background-color:$m_btn;
    border-radius: .25rem;
    transition:color .15s ease, 
    background-color .15s ease-in-out, border-color .15s ease-in-out box-shadow .15s ease-in-out;

    &:hover {
        color:$m_btn_white;
        background-color:$m_btn_hover;
    }
}
